* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 2rem
}

p, label {
    color: #FFF;
}
 
.container {
    display: flex;
    height: 90vh;
    width: 90vw;
    background-color: #343434;
}

.sidebar-images, .content{
    display: flex;
}

.content {
    flex-direction: column;
    margin-left: 60px;
    gap: 30px;
}

.form-wrap {
    margin-left: -60px;
    background-color: #282828;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.form-element input {
    outline: none;
    margin-bottom: 15px;
    appearance: none;
    border: none;
    background-color: #343434;
    padding: 15px 60px;
    border-radius: 10px;
}

button {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFF;
    background-color: #b01926c9;
    padding: 15px 60px;
    border-radius: 10px;
    border: none;
}

