* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 2rem
}

p, label {
    color: #FFF;
}
 
.container {
    display: flex;
    height: 90vh;
    width: 95vw;
    background-color: #343434;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar-images, .content, .logo img {
    display: flex;
}

.sidebar-images img, .container {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.content {
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    gap: 30px;
}

.logo img {
    max-width: 400px;
    min-width: 200px;
}

.service-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 78%;
}

.service-description span {
    font-weight: bold;
    color: #E42F2A;
}

.fieldset p {
    font-size: 1.9rem;
    margin-bottom: 10px;
}

.form-wrap {
    padding: 15px 0px 15px 60px;
    margin-left: -60px;
    background-color: #282828;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.form-row {
    display: flex;
    gap: 100px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.form-element input {
    outline: none;
    margin-bottom: 15px;
    appearance: none;
    border: none;
    background-color: #343434;
    width: 330px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-element label {
    font-size: 1.4rem;
}

.submit-button {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;
}

.submit-button p {
    font-size: 1.2rem;
}

.submit-button a {
    text-decoration: none;
    color: #E42F2A;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    background-color: #b01926c9;
    padding: 20px 60px;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width: 1310px) {
    .content {
        margin-left: 30px;
        gap: 0px;
    }

    .form-wrap {
        margin-left: -30px;
        padding-left: 30px;
    }

    .form-row {
        flex-direction: column;
        gap: 0px;
    }

    input {
        padding: 15px 10px;
    }
}



